<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ClipIt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <% if (locals.user) { %>

                    <li class="nav-item">
                        <a class="nav-link" href="/bookmark/add-bm">Add</a>
                    </li>

            </ul>
            <form class="d-flex" id="searchForm">
                <input class="form-control me-2" type="search" placeholder="Search for title or URL"
                    aria-label="Search" id="searchInput" />
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"  style="color: #fff;">
                        Settings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            
            

            <% } else{%>
                <li class="nav-item" >
                    <a class="nav-link" href="/user/signup">Create Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/signin">Login</a>
                </li>

                </ul>
                <% } %>
        </div>
    </div>
</nav>

<% if (locals.error) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>
            <%= locals.error %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

        <script>
            document.getElementById("searchForm").addEventListener("keyup", function (event) {
                event.preventDefault(); // Prevent the form from submitting normally

                const query = document.getElementById("searchInput").value.trim();

                if (!query) {
                    alert("Please enter a search query");
                    return;
                }

                // Perform the AJAX request
                fetch(`/bookmark/search?query=${encodeURIComponent(query)}`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.success) {
                            const bookmarksContainer =
                                document.getElementById("bookmarksContainer");
                            bookmarksContainer.innerHTML = ""; // Clear previous bookmarks

                            if (data.bookmarks.length === 0) {
                                bookmarksContainer.innerHTML = "<p>No bookmarks found</p>";
                                return;
                            }

                            data.bookmarks.forEach((bookmark) => {
                                const bookmarkElement = document.createElement("div");
                                bookmarkElement.classList.add("col-sm-6");
                                bookmarkElement.innerHTML = `
                          <div class="card">
                            <div class="card-header">
                              <h5 class="card-title"><b>${bookmark.title}</b></h5>
                            </div>
                            <div class="card-body">
                              <p class="card-text"><a href="${bookmark.url}" target="_blank">${bookmark.url}</a></p>
                              <br>
                              <p class="time">Created at: ${new Date(bookmark.createdAt).toLocaleString()}</p>
                              <a style="background-color: #47a2a9; color: #fff;" href="/bookmark/edit/${bookmark._id}" class="btn">Edit</a>
                              <a style="background-color: #f54854" href="/bookmark/delete/${bookmark._id}" class="btn btn-danger">Delete</a>
                            </div>
                          </div>`;
                                bookmarksContainer.appendChild(bookmarkElement);
                            });
                        } else {
                            console.log("Error:", data.message);
                        }
                    })
                    .catch((error) => console.error("Error:", error));
            });

        </script>